.container {
  min-width: 35%;
}

.title {
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  align-items: flex-end;

  & > div {
    width: 100%;
  }
}
