@mixin font-size {
  &--font-xs {
    font-size: var(--font-size-xs);
  }

  &--font-sm {
    font-size: var(--font-size-sm);
  }

  &--font-md {
    font-size: var(--font-size-md);
  }

  &--font-lg {
    font-size: var(--font-size-lg);
  }

  &--font-xl {
    font-size: var(--font-size-xl);
  }

  &--font-2xl {
    font-size: var(--font-size-2xl);
  }

  &--font-3xl {
    font-size: var(--font-size-3xl);
  }

  &--font-4xl {
    font-size: var(--font-size-4xl);
  }

  &--font-5xl {
    font-size: var(--font-size-5xl);
  }

  &--font-6xl {
    font-size: var(--font-size-6xl);
  }

  &--font-7xl {
    font-size: var(--font-size-7xl);
  }

  &--font-8xl {
    font-size: var(--font-size-8xl);
  }

  &--font-9xl {
    font-size: var(--font-size-9xl);
  }
}