@mixin font-size {
  &_fontxs {
    font-size: var(--font-size-xs);
  }

  &_fontsm {
    font-size: var(--font-size-sm);
  }

  &_fontmd {
    font-size: var(--font-size-md);
  }

  &_fontlg {
    font-size: var(--font-size-lg);
  }

  &_fontxl {
    font-size: var(--font-size-xl);
  }

  &_font2xl {
    font-size: var(--font-size-2xl);
  }

  &_font3xl {
    font-size: var(--font-size-3xl);
  }

  &_font4xl {
    font-size: var(--font-size-4xl);
  }

  &_font5xl {
    font-size: var(--font-size-5xl);
  }

  &_font6xl {
    font-size: var(--font-size-6xl);
  }

  &_font7xl {
    font-size: var(--font-size-7xl);
  }

  &_font8xl {
    font-size: var(--font-size-8xl);
  }

  &_font9xl {
    font-size: var(--font-size-9xl);
  }
}
