.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard__topbar {
  height: 3rem;
  background-color: var(--elevation-1);
}

.dashboard__main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  > * {
    height: 100%;
  }
}