.task-group {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding-top: 1.25rem;
}

.task-group__title {
  text-transform: capitalize;
  border-bottom: 1px var(--elevation-9) solid;
  padding-bottom: 0.5rem;
}
