@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-23px);
  }
}

.primary {
  --border: 1px transparent solid;
  --default-bgc: var(--color-teal-500);
  --default-color: var(--color-teal-500-contrast);
  --hover-bgc: var(--color-teal-600);
  --hover-color: var(--color-teal-600-contrast);
  --active-bgc: var(--color-teal-700);
  --active-color: var(--color-teal-700-contrast);
  --disabled-bgc: var(--color-teal-700);
  --disabled-color: var(--color-teal-800);
  --alt-loading-color: var(--color-teal-600);
}

.secondary {
  --border: var(--border-semi-trans);
  --default-bgc: var(--elevation-1);
  --default-color: var(--color-white);
  --hover-bgc: var(--elevation-1-hover);
  --hover-color: var(--color-white);
  --active-bgc: var(--elevation-2);
  --active-color: var(--color-white);
  --disabled-bgc: var(--color-grey-900);
  --disabled-color: var(--color-grey-800);
  --alt-loading-color: var(--elevation-2);
}

.sm {
  --padding: 0.35rem 0.5rem;
  --gap: 0.4rem;
  --icon-size: var(--font-size-sm);
  --font-size: var(--font-size-xs);
}

.md {
  --padding: 0.4rem 0.6rem;
  --gap: 0.5rem;
  --icon-size: var(--font-size-md);
  --font-size: var(--font-size-sm);
}

.lg {
  --padding: 0.5rem 0.75rem;
  --gap: 0.6rem;
  --icon-size: var(--font-size-lg);
  --font-size: var(--font-size-md);
}

.button {
  position: relative;
  transition: background-color 0.2s;
  padding: var(--padding);
  border: var(--border);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: var(--gap);
  font-family: inherit;
  font-size: var(--font-size);
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--default-bgc);
  color: var(--default-color);

  &:hover {
    background-color: var(--hover-bgc);
    color: var(--hover-color);
  }

  &:active {
    background-color: var(--active-bgc);
    color: var(--active-color);
  }

  &:not(&_loading):disabled {
    cursor: default;
    color: var(--disabled-color);
    background-color: var(--disabled-bgc);
    & > .icon {
      color: var(--disabled-color);
    }
  }

  &_loading {
    cursor: wait;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      background: repeating-linear-gradient(
        600deg,
        var(--default-bgc) 0,
        var(--default-bgc) 10px,
        var(--alt-loading-color) 10px,
        var(--alt-loading-color) 20px
      );
      animation: slide 0.25s infinite linear;
    }
  }
}

.text {
  position: relative;
}

.icon {
  position: relative;
  color: var(--default-color);
  width: var(--icon-size);
  height: var(--icon-size);
}
