$active: var(--color-grey-400);
$disabled: var(--color-grey-700);
$placeholderColor: var(--color-grey-600);
$error: var(--color-red-500);
$placeholderError: var(--color-red-900);

.textinput__outer {
  display: inline-flex;
  flex-direction: column;
}

.textinput__error-list {
  padding: 0.5rem 0.8rem;
  border-radius: 0 0 0.3rem 0.3rem;
  background-color: rgba(255, 0, 0, 0.25);
  border-color: var(--color-red-900);
  border-style: solid;
  border-width: 0 1px 1px 0.3rem;

  ul {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    font-size: var(--font-size-xs);
    color: var(--color-grey-200);
  }
}

.textinput {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;

  &--icon--right {
    padding-right: 0.8rem;
    .textinput__input {
      padding-right: 0;
    }
  }

  &--icon--left {
    padding-left: 1.1rem;
    .textinput__input {
      padding-left: 0;
    }
  }
}

.textinput__fieldset {
  position: absolute;
  inset: calc(var(--font-size-xs) / -2) 0 0 0;
  margin: 0;
  padding: 0 0.4rem;
  box-sizing: border-box;
  width: 100%;
  border-width: 1px 1px 1px 0.3rem;
  border-color: rgba(255, 255, 255, 0.25);
  border-left-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-radius: 0.3rem;
  pointer-events: none;

  legend {
    font-size: var(--font-size-xs);
    line-height: var(--font-size-xs);
    display: block;
    padding: 0 5px;
    margin: 0;
  }

  &:empty {
    inset: 0;
  }
}

.textinput__input {
  background: transparent;
  display: block;
  border: none;
  font-family: inherit;
  flex-grow: 1;
  padding: 0.8rem;
  padding-left: 1.1rem;
  outline: none;

  &:focus {
    ~ .textinput__fieldset {
      border-color: var(--color-white);
      color: var(--color-white);
    }
  }

  &:hover {
    ~ .textinput__fieldset {
      border-color: var(--color-white);
      color: var(--color-white);
    }
  }

  &:disabled {
    &::placeholder {
      color: var(--color-grey-700);
    }

    ~ .textinput__fieldset {
      border-color: var(--color-grey-700);
      color: var(--color-grey-700);
    }
  }

  &--error {
    &::placeholder {
      color: var(--color-red-700);
    }

    ~ .textinput__fieldset {
      border-color: var(--color-red-500) !important;
      color: var(--color-red-500) !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
