$radius: 2.5rem;

.topbarButton {
  background-color: transparent;
  border-radius: 0.3rem;
  height: $radius;
  width: $radius;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--color-grey-900);
  }
}
