@import '@/styles/project-colors';

.sidebarItem {
  text-decoration: none;
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  color: white;
  padding: 0 1.2rem;
  border-width: 0 0 0 0.3rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.3rem;
  margin: 0 0.75rem;
  font-size: var(--font-size-sm);

  &_active {
    background-color: #262626;
    border-color: white;
  }
}

.icon {
  @include project-colors(stroke);
}
