@import '../../styles/project-colors';

.task {
  display: flex;
  gap: 0.8rem;
  background-color: var(--elevation-4);
  border-radius: 0.3rem;
  padding: 0.8rem;
  border-width: 0 0 0 0.3rem;
  border-style: solid;
  border-color: transparent;
  @include project-colors(border-color);

  &:hover {
    background-color: var(--elevation-6);
  }
}

.task__task {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &--done {
    text-decoration: line-through;
    color: var(--color-grey-700);

    &:hover {
      text-decoration: line-through underline;
    }
  }
}

.task__description {
  font-size: var(--font-size-xs);
  color: var(--color-grey-700);
}

.task__finish {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: grid;
  place-self: center;
  padding: 0;
}
