.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  min-height: 0;
  flex-grow: 1;
}

.content {
  padding: 3rem 10rem;
  flex-grow: 1;
  overflow: auto;
  border-top-left-radius: 0.3rem;
}
