@import '@/styles/project-colors';
@import '@/styles/shimmer-animation';

.taskCard {
  display: flex;
  gap: 0.8rem;
  // background-color: rgba($color: #fff, $alpha: 0.03);
  border-radius: 0.3rem;
  padding: 0.8rem;
  border: var(--border-semi-trans);
  border-left-width: 0.3rem;
  @include project-colors(border-left-color);

  &:hover {
    background-color: var(--elevation-1-hover);
  }
}

.task {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &_done {
    text-decoration: line-through;
    color: var(--text-secondary);

    &:hover {
      text-decoration: line-through underline;
    }
  }
}

.description {
  font-size: var(--font-size-xs);
  color: var(--text-secondary);
}

.finishButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: grid;
  place-self: center;
  padding: 0;
}

.loading {
  background-color: var(--elevation-1);
  border: var(--border-semi-trans);
  border-radius: 0.3rem;
  padding-left: 1.1rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;

  & > div {
    flex-grow: 1;
  }

  span {
    height: 1rem;
    @include shimmer-element;
  }

  &Done {
    width: 1rem;
    border-radius: 100% !important;
  }

  &Task {
    width: 30%;
    margin-bottom: 0.3rem;
  }

  &Description {
    width: 95%;
  }
}
