.dashboard__sidebar__item {
  text-decoration: none;
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
  color: white;
  padding: 0 calc(
    2.5rem/2 /* TopbarButton radius */
    + 0.75rem /* Topbar horizontal padding */
    - 16px/2 /* TopbarButton Icon radius */
    - 0.2rem /* SidebarItem left border */
  );
  border-width: 0 0 0 0.2rem;
  border-style: solid;
  border-color: transparent;
  font-size: var(--font-size-sm);
}

.dashboard__sidebar__item--active {
  background-color: #262626;
  border-color: white;
}