.container {
  background-color: var(--elevation-1);
  border: var(--border-semi-trans);
  border-radius: 0.3rem;
  padding: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.title {
  padding-bottom: 0.5rem;
  border-bottom: var(--border-semi-trans);
  margin-bottom: 1rem;
}
