.login-slash-register-page {
  justify-content: space-between;
}

.login-slash-register-page__alt-action {
  font-size: var(--font-size-sm);
  text-align: center;

  a {
    color: var(--color-blue-400);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
