.accountButton {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  border-radius: 0.3rem;
  background-color: var(--elevation-1);
  border: var(--border-semi-trans);
  align-items: center;
  padding: 1rem 1.2rem;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: var(--elevation-1-hover);
  }

  h1,
  p {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p {
    font-size: var(--font-size-xs);
    color: var(--text-secondary);
  }

  svg {
    flex-shrink: 0;
  }

  div {
    overflow: hidden;
  }
}
