@import '@/styles/project-colors';

.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: calc(100% - 3rem);
}

.content {
  padding: 3rem 4rem;
  width: 100%;
  overflow: auto;
  border-top-left-radius: 0.3rem;

  @each $color in $colors {
    &_color#{index($colors, $color) - 1} {
      background: linear-gradient(
        150deg,
        var($color),
        var($color + '-accent') 100%
      );
    }
  }
}
