.section {
  padding: 2rem;
  background-color: var(--elevation-2);
  border-radius: 0.3rem;

  &_titled {
    padding-top: 1.25rem;
  }
}

.title {
  text-transform: capitalize;
  border-bottom: 1px var(--elevation-9) solid;
  padding-bottom: 0.5rem;
}
