@import '@/styles/shimmer-animation';

.name {
  display: block;
  height: var(--font-size-6xl);
  width: 30%;
  border-radius: 0.3rem;
  background-color: var(--elevation-9);
  margin-bottom: 0.3rem;
  @include shimmer-animation;
}

.description {
  display: block;
  height: var(--font-size-lg);
  width: 50%;
  border-radius: 0.3rem;
  background-color: var(--elevation-9);
  @include shimmer-animation;
}
