.steps-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.steps-page__panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2.15rem;
  width: 30rem;
  background-color: var(--elevation-2);
  padding: 4rem;
}
