@import '@/styles/project-colors';
@import '@/styles/shimmer-animation';

.card {
  border-left-width: 0.3rem;
  border-left-style: solid;
  @include project-colors(border-left-color);
}

.name {
  border-bottom: var(--border-semi-trans);
}

.description {
  color: var(--text-secondary);
}

.loading {
  span {
    @include shimmer-element;
  }

  &Name {
    height: var(--font-size-6xl);
    width: 30%;
    margin-bottom: 0.3rem;
  }

  &Description {
    height: var(--font-size-lg);
    width: 50%;
  }
}
